Repository agiledev-students-fall2022/final-project-team-resow, pull requests merged in 2022-11, with the labels that each got.

#129 Add lattitude and longitude to schema for Posts
  back-end/models/Post.js
  back-end/routes/posts.js
Labels: back-end

#131 127/set router for item list
  back-end/app.js
  back-end/server.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/ItemsList.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: enhancement, refactor, back-end

#130 120 new user post request
  back-end/app.js
  back-end/models/userschema.js
  back-end/routes/users.js
  front-end/src/pages/Register.js
  package-lock.json
Labels: back-end

#133 132/refactor routers for savepost
  back-end/app.js
  back-end/models/SavePost.js
  back-end/routes/saveposts.js
  front-end/src/pages/ItemDetails.js
Labels: refactor

#134 119 backend map
  back-end/app.js
  back-end/models/Post.js
  back-end/routes/map.js
  back-end/routes/posts.js
  front-end/public/samplefeatures
  front-end/src/components/Map.js
  front-end/src/components/PreviewWindow.js
Labels: back-end

#136 remove useless count var
  back-end/routes/map.js
Labels: Spike

#145 refactor item list request & save post request
  back-end/app.js
  back-end/models/Post.js
  back-end/models/SavePost.js
  back-end/models/userschema.js
  back-end/routes/posts.js
  back-end/routes/saveposts.js
  back-end/routes/users.js
  front-end/src/components/ContactBox.js
  front-end/src/components/Post.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/ItemsList.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: refactor, back-end

#153 fix bugs for profile img in item details page
  front-end/src/pages/ItemDetails.js
Labels: bug, front-end page

#156 install istanbul & unit testing for save posts
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/users.js
  back-end/testing/savepostTest.js
Labels: back-end, unit test

#154 143 unit test for user routers
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/users.js
  back-end/testing/userTest.js
Labels: back-end

#173 update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Issue

#169 168/create router for past uploads & saved posts
  back-end/package-lock.json
  back-end/routes/posts.js
  front-end/src/components/Post.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: front-end page, back-end

#179 add router for street location
  back-end/app.js
Labels: enhancement, back-end

#181 180/items from closest to farthest
  back-end/geocode/location.js
  back-end/routes/posts.js
  back-end/testing/postTest.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/ItemsList.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: enhancement, back-end

#184 add search feature
  front-end/src/components/SearchBar.js
  front-end/src/pages/ItemsList.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: front-end page

#186 170 add jwt token feature
  back-end/app.js
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/jwt-config.js
  back-end/routes/users.js
  front-end/src/pages/Register.js
  front-end/src/pages/SignIn.js
  front-end/src/pages/UserProfile.js
Labels: back-end, database integration

#187 fixed front-end errors in ItemList.js
  front-end/src/pages/ItemsList.js
Labels: front-end page

#196 add jwt check for remaining pages
  back-end/routes/posts.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: back-end

#197 hash password
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/users.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: back-end

#199 Connect front end upload and back end saving with multer
  back-end/routes/posts.js
  front-end/src/App.css
  front-end/src/pages/UploadItem.js
Labels: front-end page, back-end

#201 200/fix test codes
  back-end/package.json
  back-end/routes/users.js
  back-end/testing/fullTest.js
  back-end/testing/postTest.js
  back-end/testing/savepostTest.js
  back-end/testing/userTest.js
Labels: back-end

#207 refactor user profile page
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/SignIn.js
  front-end/src/pages/UserProfile.js
Labels: front-end page
