Repository agiledev-students-fall2022/final-project-team-resow, pull requests merged in 2022-12, with the labels that each got.

#210 Uploading items to post works now.
  back-end/app.js
  back-end/models/Post.js
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/map.js
  back-end/routes/posts.js
  back-end/utils/s3.js
  front-end/src/App.js
  front-end/src/pages/UploadItem.js
Labels: front-end page, back-end

#208 191 alert modification for email and password input verification
  back-end/routes/users.js
  front-end/src/pages/Register.js
  front-end/src/pages/SignIn.js
Labels: front-end page, back-end

#205 Add image upload for register and edit profile
  back-end/models/userschema.js
  back-end/routes/users.js
  front-end/src/pages/EditPost.js
  front-end/src/pages/EditProfile.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/Register.js
  front-end/src/pages/UserProfile.js
Labels: front-end page, back-end

#227 225/fix test codes
  back-end/routes/users.js
  back-end/testing/fullTest.js
  back-end/testing/mapTest.js
  back-end/testing/postTest.js
  back-end/testing/savepostTest.js
  back-end/testing/userTest.js
  front-end/src/pages/UploadItem.js
Labels: task

#231 fix set is my post bug
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
Labels: bug

#232 Fix colors for item upload and itemList page
  front-end/src/pages/ItemsList.js
  front-end/src/pages/UploadItem.js
Labels: front-end page

#235 Minwu update frontend
  front-end/src/components/Post.js
  front-end/src/components/PreviewWindow.js
  front-end/src/pages/ItemDetails.js
  front-end/src/pages/SignIn.js
Labels: back-end

#237 236 user registration bug
  front-end/package-lock.json
  front-end/src/App.js
  front-end/src/pages/EditProfile.js
  front-end/src/pages/Register.js
Labels: front-end page

#241 238 edit icons
  front-end/src/pages/Register.js
  front-end/src/pages/SignIn.js
  front-end/src/pages/UploadItem.js
Labels: front-end page

#243 Refactor-frontend
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
  front-end/src/pages/UserProfile.js
Labels: refactor

#245 Minwu update logo
  front-end/public/resow-green.png
  front-end/src/pages/EditPost.js
  front-end/src/pages/PastUpload.js
  front-end/src/pages/SavedPost.js
  front-end/src/pages/UserProfile.js
Labels: front-end page
